
:root {
    --primary-color: #0D1B2A;
    --secondary-color: #1B263B;
    --tertiary-color: #415A77;
    --quaternary-color: #778DA9;
    --quinary-color: #FFFCF9; 
  }

.blogcontent h1{
    font-family: Playfair display; 
    background-color: var(--quinary-color);
    color: var(--secondary-color);
    margin-top: 5%;
    font-size: 5em; 
    margin-left: 5%; 
    text-shadow: var(--quaternary-color) 2px 5px; 
}