
:root {
  background-color: var(--tertiary-color);
  --primary-color: #0a0908;
  --secondary-color: #2c434d;
  --tertiary-color: #eae0d5;
  --quaternary-color: #c6ac8f;
  --quinary-color: #5e503f; 
}


/* .content {
  background-color: var(--tertiary-color); 
}

.content h1{
  font-family: Playfair display; 
  font-size: 5em; 
  color: var(--primary-color); 
} */
/* 
.content p {
  font-family: Lato; 
}

.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  } */