
:root {
  --primary-color: #0D1B2A;
  --secondary-color: #1B263B;
  --tertiary-color: #415A77;
  --quaternary-color: #778DA9;
  --quinary-color: #E0E1DD; 
}

.home{
  background-color: var(--quinary-color); 
}

.name-plate {
  z-index: 1; 
  position: absolute; 
  top: 50%; 
  left: 20%;  
}

.name-plate h1 {
  color: var(--secondary-color); 
  font-size: 7em; 
  font-family: 'League Script', cursive; 
  /* text-shadow: var(--quaternary-color) 2px 5px;  */
}

.homeimg {
  width: 600px; 
  height: 600px; 
  margin-left: 30%;
  margin-top: 5%; 
  opacity: 0.5; 
  border-radius: 50%; 
  overflow: hidden; 
  position: sticky;
  top: 0; 
}

.homeimg:hover {
  opacity: 1.0; 
  border-radius: 50%; 
  overflow: hidden; 
}

.intro {
  margin-top: 20%; 
  margin-left: 20%;
  margin-bottom: 7%; 
  font-family: Lato; 
  font-size: 2em; 
  color: var(--primary-color); 
}

.intro span {
  color: var(--tertiary-color);
  font-weight: bold; 
  text-transform: uppercase; 
}

.background {
  display: flex; 
}

.bgimgwrapper {
  margin-top: 10%; 
  margin-left: 5%; 
  border: var(--quaternary-color) solid 1px; 
  border-radius: 50%; 
  overflow: hidden; 
}

.bgpara {
  font-family: Lato; 
  font-size: 2em; 
  color: var(--primary-color);
  word-break: break-word; 
  width: 70%; 
  margin-left: 7%;
  margin-top: 12%;
}

.accomplishments {
  display: flex; 
}

.accimgwrapper {
  margin-top: 5%; 
  margin-right: 5%; 
  border: var(--quaternary-color) solid 1px; 
  border-radius: 50%; 
  overflow: hidden; 
}

.accpara {
  font-family: Lato; 
  font-size: 2em; 
  color: var(--primary-color);
  word-break: break-word;
  width: 70%; 
  margin-top: 5%; 
  margin-left: 5%; 
}


  @media only screen and (max-width: 600px) {

    .home{
      background-color: var(--quinary-color); 
      display: flex; 
      flex-direction: column; 
    }
    
    .name-plate {
       display: none; 
    }
    
    .homeimg {
      position: static; 
      margin: 0; 
      max-width: 100%;
      height: auto; 
      opacity: 1.0; 
      border-radius: 0; 
    }
    
    .intro {
      margin-top: 20%; 
      margin-bottom: 7%; 
      font-family: Lato; 
      font-size: 2em; 
      color: var(--primary-color); 
    }
    
    .intro span {
      color: var(--tertiary-color);
      font-weight: bold; 
      text-transform: uppercase; 
    }
    
    .background {
      display: flex; 
    }

    .bgimgwrapper {
      display: none;
    }
    
    .bgpara {
      display: none; 
    }
    
    .accomplishments {
      display: none; 
    }
    
    .accimgwrapper {
      display: none; 
    }
    

.accpara {
  display: none; 
}

  }



  