

:root {
  background-color: #ddd9d4; 
}

.content {
  background-color: #ddd9d4; 
}

.content h1{
  font-family: Playfair display; 
  font-size: 5em; 
}

.name-plate {
  z-index: 1; 
  position: absolute; 
  top: 30%; 
  left: 20%;  
  font-family: Author sans-serif; 
}

.name-plate h1 {
  color: black; 
  font-size: 5em; 
  font-family: silverstone; 
  font-style: bold; 
}

.name-plate h4 {
  font-family: Abril Fatface; 
}

.content img {
  margin: 3%; 
  left: 30%;
  position: relative;
  opacity: 0.5; 
}

.content img:hover {
  opacity: 1.0; 
}

.content p {
  font-family: Lato; 
}

.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  @media only screen and (max-width: 600px) {


  }
  