

:root {
  background-color: var(--tertiary-color);
  --primary-color: #0a0908;
  --secondary-color: #22333b;
  --tertiary-color: #eae0d5;
  --quaternary-color: #c6ac8f;
  --quinary-color: #5e503f; 
}

.content {
  background-color: var(--tertiary-color); 
}

.content h1{
  font-family: Playfair display; 
  font-size: 5em; 
  color: var(--primary-color); 
}

.name-plate {
  z-index: 1; 
  position: absolute; 
  top: 30%; 
  left: 20%;  
  font-family: Author sans-serif; 
}

.name-plate h1 {
  color: var(--primary-color); 
  font-size: 5em; 
  font-family: silverstone; 
  font-style: bold; 
}

.name-plate h4 {
  font-family: Abril Fatface; 
}

.content img {
  margin: 3%; 
  left: 30%;
  position: relative;
  opacity: 0.5; 
}

.content img:hover {
  opacity: 1.0; 
}

.content p {
  font-family: Lato; 
}

.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  @media only screen and (min-width: 250px) {

    .content {
      background-color: var(--tertiary-color); 
    }
    
    .content h1{
      font-family: Playfair display; 
      font-size: 2em; 
    }
    
    .content img {
      width: 75%; 
      margin: 0; 
    }
   
    .name-plate {
      margin: 50% 0 0 0; 
    }
    .content p {
      font-family: Lato; 
      position: relative; 
    }
  }
  