

:root {
  background-color: #ddd9d4; 
}

.content {
  background-color: #ddd9d4; 
}

.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  