
:root {
  background-color: var(--tertiary-color);
  --primary-color: #0a0908;
  --secondary-color: #22333b;
  --tertiary-color: #eae0d5;
  --quaternary-color: #c6ac8f;
  --quinary-color: #5e503f; 
}

ul {
  color: var(--secondary-color); 
  font-family: Lato; 
}

li {
  color: var(--secondary-color); 
  font-family: Lato; 
}

ul li {
  color: var(--secondary-color); 
  font-family: Lato; 
}

.nav {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: flex-end; 
    color: var(--secondary-color); 
    font-family: Lato; 
}

a.nav {
  color: var(--secondary-color); 
  font-family: Lato; 
}

.nav a {
  color: var(--secondary-color); 
  font-family: Lato; 
}

.nav-item{
  font-size: 2em; 
  color: var(--secondary-color); 
  font-family: Lato; 
}

.nav-item a {
  color: var(--secondary-color); 
  font-family: Lato; 
}

a.nav-item {
  color: var(--secondary-color); 
  font-family: Lato; 
}

a.nav-link{
  color: var(--secondary-color); 
  font-family: Lato; 
}


a.nav-link:hover {
    text-decoration: none; 
    color: var(--secondary-color); 
    font-family: Lato;  
}

a.nav-link:visited {
  color: var(--secondary-color); 
  font-family: Lato; 
  text-decoration: none; 
}

.hover-2 {
  --h: 1.2em;   /* the height */
  
  line-height: var(--h);
  color: #0000;
  background: 
    linear-gradient( #FEFBEA 0 0) 
    bottom/100% calc(100% - var(--_i,1)*100%) no-repeat;
  overflow: hidden;
  transition: 0.3s;
}
.hover-2:hover {
  --_i: 0;
  text-decoration: none; 
}

@media only screen and (max-width: 600px) {
  .nav {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;  
    align-items: center; 
    padding: none; 
    margin-top: 100vh; 
    color: var(--secondary-color); 
    font-family: Lato; 
}

.nav-item{
  font-size: 2em; 
  color: var(--secondary-color); 
  font-family: Lato; 
  margin: none; 
}
a.nav-link{
  color: var(--secondary-color); 
  font-family: Lato; 
}

a.nav-link:hover {
  text-decoration: none; 
  color: var(--secondary-color); 
  font-family: Lato; 
}

a.nav-link:visited {
  color: var(--secondary-color); 
  font-family: Lato;  
text-decoration: none; 
}

}

